@use 'variables' as *;

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 16px;
  color: $text-white;
  background-color: $background;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4;
}

a {
  color: $primary;
  text-decoration: none;
  transition: color $transition-fast;

  &:hover {
    color: $primary-hover;
  }
}
